<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.buy.life.mapper.BuyOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.buy.life.entity.BuyOrderEntity">
        <id column="id" property="id" />
        <result column="is_deleted" property="isDeleted" />
        <result column="ctime" property="ctime" />
        <result column="mtime" property="mtime" />
        <result column="creator" property="creator" />
        <result column="updater" property="updater" />
        <result column="order_id" property="orderId" />
        <result column="user_id" property="userId" />
        <result column="order_amt" property="orderAmt" />
        <result column="lst_submit_time" property="lstSubmitTime" />
        <result column="status" property="status" />
        <result column="ext" property="ext" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, is_deleted, ctime, mtime, creator, updater, order_id, user_id, order_amt, lst_submit_time, status, ext
    </sql>

</mapper>
